<br/><br/><br/><br/><br/><br/>
<div class="container portfolio">
	<div class="row">	
	</div>
	<div class="bio-info">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="bio-image">
							<img src="https://i.ibb.co/WG6sWyM/girl.png" alt="image" />
						</div>			
					</div>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="bio-content">
					<h1><%= @customer.name%></h1>
					<h6><%= @customer.bio%></h6>
					<p><%= @customer.age%></p>
          <h1>Reviews by: <%= @customer.username %></h1>
            <ol> 
              <% @customer.ratings.each do |rating| %>
              <li><%= link_to rating.comment, restaurant_path(rating.restaurant) %></li>
              <% end %>
              <% if @current_customer %>
              <%= button_to("Log out", {action: "logout", controller: "sessions"},method: "delete") %>
              </a>
              <% else %>
              <a class="nav-link js-scroll-trigger" data-toggle="modal" >
                <%= link_to "Signup/Login", "/customers/new"%>
              <% end %>
            </ol>
				</div>
			</div>
		</div>	
	</div>
</div>