<%# <h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p> %>


<h1>New Restaurants</h1>

   <h1>FORM FOR</h1>
   <%= form_for @restaurant do |f|%>
     <%= f.label :name %>
     <%= f.text_field :name %>
     <%= f.label :user_name %>
     <%= f.text_field :user_name %>
     <%= f.label :pasword %>
     <%= f.text_field :pasword%>
     <%= f.label :email %>
     <%= f.text_field :email %>
     <%= f.submit  %>
     <% end %>
